*.pyc
*.DS_Store
venv/
tmp/
dist
build
*.swap

# Vim swap files
*.swp
*.swo
credentials.yml
# test output
*.retry
*.out
.tox
.cache
results.xml
coverage.xml
.coverage
htmlcov/
.pytest_cache/

kforce.egg-info

templates  # for user's repo
vars  # for user's repo
__generated__  # for user's repo
