__generated__/* linguist-generated=true
.vscode/* linguist-detectable=false
addons/* linguist-detectable=false
img/* linguist-detectable=false
templates/* linguist-detectable=false
vars/* linguist-detectable=false
